:root {
  /* Colors */
  --bg: #f8fafc;

  --card: #fcfdff;
  --input-bg: #f8fafc;

  --border: #e2e8f0;
  --border-dark: #cbd5e1;

  --text: #0f172a;
  --text-secondary: #64748b;
  --placeholder: #94a3b8;

  --surface-hover: #f1f5f9;

  /* Typography */
  --sans: Inter, system-ui, sans-serif;

  font-family: var(--sans);
  font-size: 16px;
  line-height: 1.5;

  color: var(--text);
  background: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  #social .button-icon {
    filter: invert(1) brightness(2);
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code {
  font-family: var(--mono);
}

.counter {
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
